datestr=`date +%y%m%d-%H:%M`
#
wuser=$USER
whost=`hostname --long`
#
mailcmd='/usr/bin/mail'
repmail='artp@nte.spb.ru'
#
# logfile
log=/tmp/$wuser-$datestr
# directory for backups storage
bdir=$HOME/backups
#
# MySQL bases backup
#
# account for mysql backup
sqluser=
sqlpwd=
# bases for different backup files
sqlbases=('mysql' 'wordpress_bergforce' 'wordpress_nte' 'wordpress_pdok' 'wp_lesopil')
#
# Files backups
#
# main directory
basedir=/srv
# subdirectory for different backup files
#bases=('Подборовский ДОК' 'BaseMetallist' 'BaseNeva' 'BaseNTE' 'Юдовский')
dirs=('bergforce.ru' 'lesopil.rf' 'nte.spb.ru' 'p-dok.ru')
#
# S3
s3bucket=nte-backups

#-----------------------------------------------------
# Common functions
#

# send_report "subject" "file";
function send_report {
  tmpf=/tmp/$$.tmp
  echo "From: $wuser@$whost" >$tmpf;
  echo "To: $repmail" >>$tmpf;
  echo "Reply-To: $wuser@$whost" >>$tmpf;
  echo "Subject: $1" >>$tmpf;
  echo "Content-Transfer-Encoding: 8bit" >>$tmpf;
#  echo "Content-Type: text/plain; charset=UTF-8" >>$tmpf;
  echo "Content-Type: text/html; charset=UTF-8" >>$tmpf;
  echo >>$tmpf;
  echo >>$tmpf;
  echo '<html>'>>$tmpf;
  echo '<pre>'>>$tmpf;

  cat $2 >>$tmpf;

  echo '</pre>'>>$tmpf;
  echo '</html>'>>$tmpf;

  cat $tmpf| /usr/sbin/sendmail -t;
  rm -f $tmpf
}


